<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-4">
    <h1 class="text-center">Lista de Productos</h1>
    {% if productos %}
    <div class="row">
      {% for producto in productos.result %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">Precio: ${{ producto.precio_publico }}</p>
            <p class="card-text">Tipo: {{ producto.tipo }}</p>
            <p class="card-text">Calorías: {{ producto.calorias }}</p>
            <ul>
              {% for ingrediente in producto.ingredientes %}
              <li>{{ ingrediente.nombre }}</li>
              {% endfor %}
            </ul>
            <a href="/vender/{{ producto.id }}" class="btn btn-primary">Vender</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-muted">No hay productos disponibles en este momento.</p>
    {% endif %}
  </div>

  <div class="text-center mt-4">
    <a href="/ingredientes" class="btn btn-secondary">Ver Ingredientes</a>
    <a href="/productos" class="btn btn-secondary">Ver Productos</a>
    <a href="/vender" class="btn btn-primary">Vender un Producto</a>
    <a href="/" class="btn btn-primary">Regresar</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>